{% extends "base.html.twig" %}

{% block title %}Teams &raquo; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Your Teams</h1>
        <a class="btn btn-success" href="{{ path('team_create') }}">Add Team</a>
        <div id="teams">
            {% for team in teams %}
                <div id="team-{{ team.id }}">
                    <h3>{{ team }}</h3>
                    Hike: {{ team.hike }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
