{% extends "base.html.twig" %}

{% block title %}{{ team.name }} &raquo; {{ team.hike }} &raquo; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ team.name }}</h1>
        <h2>{{ team.hike }}</h2>
        {% include 'includes/messages.html.twig' %}

    </div>
{% endblock %}
