{% extends "_simple_form.html.twig" %}

{% block title %}Update "{{ walker }}" &raquo; {{ walker.team }} &raquo; {{ walker.team.hike }} &raquo; {{ parent() }}{% endblock %}

{% block header_h1 %}Update "{{ walker }}"{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('team_list') }}">Your Teams</a></li>
            <li class="breadcrumb-item"><a href="{{ path('team_show', {'team_id': walker.team.id}) }}">{{ walker.team }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update "{{ walker }}"</li>
        </ol>
    </nav>
{% endblock %}

{% block form %}
    {{ form_start(form) }}
    {{ form_row(form.foreName) }}
    {{ form_row(form.surName) }}
    {{ form_row(form.emergencyContactNumber) }}

    <button type="submit" class="btn btn-primary btn-raised">Save</button>
    <a href="{{ path('team_show', {'team_id': walker.team.id}) }}" class="btn btn-default btn-raised">Cancel</a>
    {{ form_end(form) }}
{% endblock %}
