{% extends "_simple_form.html.twig" %}

{% block title %}Register team &raquo; {{ parent() }}{% endblock %}

{% block header_h1 %}Register team{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('team_list') }}">Your Teams</a></li>
            <li class="breadcrumb-item active" aria-current="page">Register team</li>
        </ol>
    </nav>
{% endblock %}

{% block form %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.hike) }}

    <button type="submit" class="btn btn-primary btn-raised">Save</button>
    {{ form_end(form) }}
{% endblock %}
