{% extends "_base.html.twig" %}

{% block title %}Teams &raquo; {{ parent() }}{% endblock %}

{% block header_h1 %}Your Teams{% endblock %}

{% block header_btn %}
    <a class="btn btn-light text-dark btn-raised btn-header" href="{{ path('team_create') }}">Register Team</a>
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Your Teams</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div id="teams" class="row">
        {% for team in teams %}
            <div class="col-lg-4 d-flex mb-3">

                <div class="card flex-md-row box-shadow w-100">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">{{ team.hike }}</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="{{ path('team_show', {'team_id': team.id}) }}">{{ team.name }}</a>
                        </h3>
                        <div class="mb-1">
                            {% if team.isDropped %}
                                <span class="badge badge-danger">Dropped out</span>
                            {% elseif team.teamNumber is not null %}
                                <span class="text-muted">
                                    Team #{{ team.teamNumber }} starts {{ team.startTime.format('g:ia') }}
                                </span>
                            {% endif %}
                        </div>
                        <p class="card-text mb-auto">
                            {% for key, walker in team.walkers %}
                                {{ walker.name }}{{ key+1!=team.walkers|length?',':'' }}
                            {% endfor %}
                        </p>
                        <a
                                href="{{ path('team_show', {'team_id': team.id}) }}"
                                class="font-brand text-uppercase"
                        >Manage Team</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
