{% extends "_simple_form.html.twig" %}

{% block title %}Reinstate {{ team }} &raquo; {{ parent() }}{% endblock %}

{% block header_h1 %}Reinstate Team "{{ team }}"{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('team_list') }}">Your Teams</a></li>
            <li class="breadcrumb-item"><a href="{{ path('team_show', {'team_id': team.id}) }}">{{ team }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reinstate Team "{{ team }}"</li>
        </ol>
    </nav>
{% endblock %}

{% block form %}
    {{ form_start(form) }}
    <h3>Please confirm</h3>
    <p>You are about to reinstate the team "{{ team }}" in the event. Please confirm to proceed</p>
    <button type="submit" class="btn btn-success btn-raised">Reinstate</button>
    <a href="{{ path('team_show', {'team_id': team.id}) }}" class="btn btn-default btn-raised">Cancel</a>
    {{ form_end(form) }}
{% endblock %}