{% extends "_base.html.twig" %}

{% block title %}{{ team.name }} &raquo; {{ parent() }}{% endblock %}

{% block header_h1 %}{{ team }}{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('team_list') }}">Your Teams</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ team.name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-4 col-md-5 d-flex">
            <div class="card mb-4 w-100">
                <div class="card-body d-flex flex-column align-items-start">
                    <h5 class="card-title">Basic info</h5>
                    <div class="card-text mb-auto">
                        <dl class="dl">
                            <dt>Team Name</dt>
                            <dd>
                                {{ team.name }}
                                {% if team.isDropped %}
                                    <span class="badge badge-danger">Dropped out</span>
                                {% endif %}
                            </dd>
                            <dt>Team Number</dt>
                            <dd>{{ team.teamNumber ?? 'To be assigned' }}</dd>
                            <dt>Start Time</dt>
                            <dd>
                                {%  if team.startTime is not null %}
                                    {{ team.startTime.format('h:i A F jS, Y') }}
                                {% else %}
                                    To be assigned
                                {% endif %}
                            </dd>
                            <dt>Fees Paid</dt>
                            <dd>£{{ team.feesPaid }}</dd>
                            <dt>Hike</dt>
                            <dd>{{ team.hike }}</dd>
                        </dl>
                        <p class="text-small">Please make sure that each team member has a copy of the
                            <a href="{{ team.hike.kitListURL }}">Kit List</a> and
                            <a href="{{ team.hike.joiningInfoURL }}">Joining Information</a>
                            which they  should also bring on the day.</p>
                    </div>
                    <div class="card-btns">
                        <a
                                href="{{ path('team_update', {'team_id': team.id}) }}"
                                class="text-primary text-uppercase font-brand mr-3"
                        >Update basic info</a>
                        {% if team.isDropped %}
                            <a
                                    href="{{ path('team_reinstate', {'team_id': team.id}) }}"
                                    class="text-success text-uppercase font-brand"
                            >Reinstate team</a>
                        {% else %}
                        <a
                                href="{{ path('team_drop', {'team_id': team.id}) }}"
                                class="text-danger text-uppercase font-brand"
                        >Drop team</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-7 d-flex">
            <div class="card mb-4 w-100">
                <div class="card-body d-flex flex-column align-items-start">
                    <h5 class="card-title">Walkers</h5>
                    {% if team.walkers is not empty %}
                    <table id="walkers" class="table table-sm walkers-table mb-auto">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Age on Hike</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for walker in team.walkers %}
                            <tr class="walkers-table__walker">
                                <td class="walkers-table__reference">#{{ walker.reference }}</td>
                                <td class="walkers-table__name">{{ walker.name }}</td>
                                <td class="walkers-table__age">{{ walker.readableAgeOnHike }}</td>
                                <td class="walkers-table__actions">
                                    <a href="{{ path('walker_update', {'walker_id': walker.id}) }}">Update</a>
                                    <a href="{{ path('walker_delete', {'walker_id': walker.id}) }}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p class="mb-auto">This team doesn't have any walkers.</p>
                    {% endif %}
                    <div class="card-btns">
                        <a
                                href="{{ path('walker_create', {'team_id': team.id}) }}"
                                class="text-success text-uppercase font-brand"
                        >Add walker</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-flex">
            <div class="card bg-primary text-white mb-4 w-100">
                <div class="card-body d-flex flex-column align-items-start">
                    <h5 class="card-title">Checklist</h5>
                    <ol class="mb-4">
                        <li>
                            Register team
                            <i class="fa fa-check"></i>
                        </li>
                        <li>
                            Add {{ team.hike.minWalkers }} - {{ team.hike.maxWalkers }} walkers
                            {% if team.hasEnoughWalkers %}<i class="fa fa-check"></i>{% endif %}
                        </li>
                        <li>
                            Pay fees
                            {% if team.hasEnoughWalkers and not team.hasDueFees %}<i class="fa fa-check"></i>{% endif %}
                        </li>
                    </ol>
                    {% if team.hasEnoughWalkers and not team.isDropped %}
                        {%  if team.hasDueFees %}
                            <div class="m-auto">
                                <a
                                    href="{{ path('team_payment_capture',  {'team_id': team.id}) }}"
                                    class="btn btn-lg btn-raised btn-light text-dark mx-auto"
                                    id="payment-btn"
                                >Pay £{{ team.feesDue }}</a>
                            </div>
                        {% else %}
                            <div class="mb-0 mt-auto">
                                {% if team.startTime %}
                                    Your team is now fully registered and <strong>their start time is
                                    {{ team.startTime.format('h:i A') }}</strong>. We will contact you over email with more
                                    details.
                                {% else %}
                                    We have received all due payment. You will receive an email once we have assigned
                                    you your start time.
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="modal fade" id="payment-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Payment Instructions</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Please pay using one of the payment methods below. We will email you to confirm that
                            we have received payment</p>
                            <h5>Pay by bank transfer</h5>
                            <p>
                                <strong>Bank:</strong> HSBC<br/>
                                <strong>Sort Code:</strong> 40-38-04<br/>
                                <strong>Account Number:</strong> 11508946<br/>
                                <em>
                                    Please use the reference 3T followed by either your group name or team name. Please
                                    then email <a href="mailto:will@arslett.uk">will@arslett.uk</a>
                                    to let us know you have paid and the reference you used.
                                </em>
                            </p>
                            <h5>Pay by cheque</h5>
                            <p>Please send all cheques to Ferncroft, New Lane Hill, Reading, RG30 4JN.
                                Made payable to Three Towers Hike and clearly labelled with your team name</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%  if team.completedPayments is not empty %}
        <div class="col-12 d-flex">
            <div class="card mb-4 w-100">
                <div class="card-body d-flex flex-column align-items-start">
                    <h5 class="card-title">Payments Received</h5>
                    <table id="payments" class="table table-sm payments-table mb-auto">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payment in team.completedPayments %}
                            <tr class="payments-table__payment">
                                <td class="payments-table__">#{{ payment.id }}</td>
                                <td class="payments-table__amount">{{ payment.totalAmount / 100 }} {{ payment.currencyCode }}</td>
                                <td class="payments-table__date">{{ payment.date.format('jS F Y') }}</td>
                                <td class="payments-table__time">{{ payment.date.format('h:i:s A') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
