<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>{% block title %}Team Registration System{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('registration/build/css/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-primary">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        {% if app.user %}
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('team_list') }}">Your Teams</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('user_update') }}">Your Account</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('event_list') }}">Event Admin</a>
                            </li>
                            {% endif %}
                        </ul>
                        <div class="title-bar__user">
                            Welcome, <span id="current-user">{{ app.user.fullName }}</span>.
                            <a href="{{ path('user_logout') }}" class="logout-link">Log out</a>
                        </div>
                        {% else %}
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link " href="{{ path('user_login') }}">Log in</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="{{ path('user_register') }}">Register</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block header %}
            <div class="header d-flex">
                <div class="container d-flex">
                    <h1 class="mt-auto mb-auto">{% block header_h1 %}{% endblock %}</h1>
                    {% block header_btn %}{% endblock %}
                </div>
            </div>
        {% endblock %}

        <div class="container">
            {% block messages %}
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
            {% block breadcrumb %}{% endblock %}
            {% block body %}{% endblock %}
        </div>

        <footer>
            <div class="container">
                Registration System built by <a href="mailto:will@arslett.uk">William Arslett</a>.<br />
                {#<a href="https://github.com/warslett/team-registration-system" target="_blank">#}
                    {#Source code.#}
                {#</a>#}
                {#<a href="https://circleci.com/gh/warslett/team-registration-system" target="_blank">#}
                    {#<img class="shield-badge" src="https://circleci.com/gh/warslett/team-registration-system.png?style=shield">#}
                {#</a>#}
            </div>
        </footer>

        {% block javascripts %}
        <script src="{{ asset('registration/build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
