{% extends "_base.html.twig" %}

{% block title %}"{{ hike.name }}" Teams &raquo; {{ parent() }}{% endblock %}

{% block header_h1 %}"{{ hike.name }}" Teams{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('event_list') }}">Events</a></li>
            <li class="breadcrumb-item"><a href="{{ path('event_show', {'event_id': hike.event.id}) }}">{{ hike.event }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">"{{ hike.name }}" Teams</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div id="teams" class="card">
        <div class="card-body">
            {% if teams is empty %}
            No Teams
            {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Team Name</th>
                        <th>Walkers</th>
                        <th>User</th>
                        <th>Payments</th>
                        <th>Team Number</th>
                        <th>Start Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                    <tr class="{% if team.isDropped %}table-danger{% elseif team.hasEnoughWalkers and not team.hasDueFees %}table-success{% endif %}">
                        <td>{{ team.name }}</td>
                        <td>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#TeamWalkersModal{{ team.id }}">
                                {{ team.walkers|length }} Walkers
                            </a>
                            <div class="modal fade" id="TeamWalkersModal{{ team.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{{ team.name }} Walkers</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <table id="walkers" class="table table-sm walkers-table mb-auto">
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Emergency Contact Number</th>
                                                    <th scope="col">Age on Hike</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for walker in team.walkers %}
                                                    <tr class="walkers-table__walker">
                                                        <td class="walkers-table__reference">#{{ walker.reference }}</td>
                                                        <td class="walkers-table__name">{{ walker.name }}</td>
                                                        <td class="walkers-table__name">{{ walker.emergencyContactNumber }}</td>
                                                        <td class="walkers-table__age">{{ walker.readableAgeOnHike }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#TeamUserModal{{ team.id }}">
                                {{ team.user.fullName }}
                            </a>
                            <div class="modal fade" id="TeamUserModal{{ team.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{{ team.user.fullName }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <dl class="dl">
                                                <dt>Full Name</dt>
                                                <dd>{{ team.user.fullName }}</dd>
                                                <dt>Email Address</dt>
                                                <dd>{{ team.user.email }}</dd>
                                                <dt>Contact Number</dt>
                                                <dd>{{ team.user.contactNumber }}</dd>
                                            </dl>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{ path('registration_root', {'_switch_user': team.user.email}) }}" class="btn btn-warning">Impersonate</a>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#TeamPaymentsModal{{ team.id }}">
                                Paid £{{ team.feesPaid }} / £{{ team.totalFees }}
                            </a>
                            <div class="modal fade" id="TeamPaymentsModal{{ team.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Payments receieved for {{ team.name}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <table id="payments" class="table table-sm payments-table mb-auto">
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Amount</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Time</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for payment in team.completedPayments %}
                                                    <tr class="payments-table__payment">
                                                        <td class="payments-table__">#{{ payment.id }}</td>
                                                        <td class="payments-table__amount">{{ payment.totalAmount / 100 }} {{ payment.currencyCode }}</td>
                                                        <td class="payments-table__date">{{ payment.date.format('jS F Y') }}</td>
                                                        <td class="payments-table__time">{{ payment.date.format('h:i:s A') }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{ path('team_payment_create_offline', {'team_id': team.id}) }}" class="btn btn-success">Add Offline Payment</a>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% if team.teamNumber is null %}
                        <td colspan="2" class="text-center">
                            <a href="{{ path('team_assign_start_time', {'team_id': team.id}) }}">Assign Team Number and Start Time</a>
                        </td>
                        {% else %}
                        <td>
                            {{ team.teamNumber }}
                        </td>
                        <td>
                            <span class="badge badge-success">{{ team.startTime.format('h:i A') }}</span>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
