{% extends "base.html.twig" %}

{% block title %}Register &raquo; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Register a new user</h1>
        {% include 'includes/messages.html.twig' %}
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}

                <button type="submit" class="btn btn-primary btn-raised">Register</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
