{% extends "_simple_form.html.twig" %}

{% block title %}Register &raquo; {{ parent() }}{% endblock %}

{% block header_h1 %}Register{% endblock %}

{% block form %}
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit" class="btn btn-primary btn-raised">Register</button>
    {{ form_end(form) }}
{% endblock %}
