{% extends "_base.html.twig" %}

{% block title %}{{ event.name }} &raquo; {{ parent() }}{% endblock %}

{% block header_h1 %}{{ event.name }}{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('event_list') }}">Events</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ event.name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 d-flex">
            <div class="card mb-4 w-100">
                <div class="card-body d-flex flex-column align-items-start">
                    <h5 class="card-title">Basic info</h5>
                    <div class="card-text mb-auto">
                        <dl class="dl">
                            <dt>Event Name</dt>
                            <dd>{{ event.name }}</dd>
                            <dt>Date</dt>
                            <dd>{{ event.date.format('F jS, Y') }}</dd>
                            <dt>Registration Opens</dt>
                            <dd>{{ event.registrationOpens.format('F jS, Y') }}</dd>
                            <dt>Registration Closes</dt>
                            <dd>{{ event.registrationCloses.format('F jS, Y') }}</dd>
                        </dl>
                    </div>
                    <div class="card-btns">
                        <a
                                href="{{ path('event_update', {'event_id': event.id}) }}"
                                class="text-primary text-uppercase font-brand mr-3"
                        >Update basic info</a>
                        <a
                                href="{{ path('event_delete', {'event_id': event.id}) }}"
                                class="text-danger text-uppercase font-brand"
                        >Delete event</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 d-flex">
            <div class="card mb-4 w-100">
                <div class="card-body d-flex flex-column align-items-start">
                    <h5 class="card-title">Hikes</h5>
                    {% if event.hikes is not empty %}
                        <table id="hikes" class="table table-sm mb-auto">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Teams</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for hike in event.hikes %}
                                <tr class="hikes-table__hike">
                                    <td class="hikes-table__name">{{ hike.name }}</td>
                                    <td class="hikes-table__teams">
                                        <a href="{{ path('hike_teams', {'hike_id': hike.id}) }}">
                                            {{ hike.teams|length }} Teams</a>
                                    </td>
                                    <td class="hikes-table__actions">
                                        <a href="{{ path('hike_update', {'hike_id': hike.id}) }}">Update</a>
                                        <a href="{{ path('hike_delete', {'hike_id': hike.id}) }}">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="mb-auto">This event doesn't have any hikes.</p>
                    {% endif %}
                    <div class="card-btns">
                        <a
                                href="{{ path('hike_create', {'event_id': event.id}) }}"
                                class="text-success text-uppercase font-brand"
                        >Add hike</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
