{% extends "_simple_form.html.twig" %}

{% block title %}Update "{{ event }}" &raquo; {{ parent() }}{% endblock %}

{% block header_h1 %}Update "{{ event }}"{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('event_list') }}">Events</a></li>
            <li class="breadcrumb-item"><a href="{{ path('event_show', { 'event_id': event.id }) }}">{{ event }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update</li>
        </ol>
    </nav>
{% endblock %}

{% block form %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.date) }}
    {{ form_row(form.registrationOpens) }}
    {{ form_row(form.registrationCloses) }}

    <button type="submit" class="btn btn-primary btn-raised">Save</button>
    {{ form_end(form) }}
{% endblock %}
